<h1>Editing taxes for province <%= "#{@admin_province.name} (#{@admin_province.code})" %></h1>

<%= render 'form' %>

<br/>

<%= link_to 'Back', admin_provinces_path, class: 'btn btn-default', role: :button %>
