<p id="notice"><%= notice %></p>

<h1>General website settings</h1>

<p><%= link_to 'About page',[:admin, :about] %></p>
<p><%= link_to 'Contact page',[:admin, :contact] %></p>
<p><%= link_to 'Website title',[:admin, :title] %></p>