/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.list-group {
  margin: 0;
}

.list-group-horizontal .list-group-item {
  display: inline-block;
}

.list-group-horizontal .list-group-item {
  margin-bottom: 0;
  margin-left: -4px;
  margin-right: 0;
}

.list-group-horizontal .list-group-item:first-child {
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
}

.list-group-horizontal .list-group-item:last-child {
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
}

.form-search {
  margin-top: 50px;
  margin-bottom: 20px;
}

//Bootstrap class for rows with the same height
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

//Fix for magnify script to display the lens over other elements
.magnify-large {
//  background-color: #FFF!important;
  z-index: 999;
}


//=================================================================================
//  Product listing

.product-title {color:#231f20; font-size:20px; font-weight:700;}
.product-data {width:100%; padding-bottom: 25px;}
.product-pic {width:10%;position: relative;}
.product-pic span a{color: #fff; font-size: 16px; display: none;}
.product-pic-buttons span{background-color: cornflowerblue;}
.product-pic span.product-like {position: absolute; left: 11%; bottom: 10px;}
.product-pic span.product-share {position: absolute; left:46%; bottom: 10px;}
.product-pic span.product-plus {position: absolute; right: 9%; bottom: 10px;}
.product-profile {width:88%;}
.product-profile span.product-sub {font-size:15px; color:#bbb; float:left; width:100%; font-weight:normal; padding:5px 0;}
.product-profile span.product-sub span.product-description {font-weight:700; color:#aaa;}
.product-profile span.product-sub span.daysago{float:right; font-size:12px;}
.counter-tab{float: left; width: 100%; padding-top: 45px;}
.counter-tab div{float: left; width: 33%; color: #aaa; font-size: 12px;}
.bot-links{float: left; width: 100%; padding-top: 10px;}
.bot-links a{display: inline-block; padding: 5px; background: #ccc; font-size: 12px; margin-bottom: 5px; color: #9c9c9c; text-decoration:none;}
span.play-icon{position: absolute; left: 31%; top: 32%; display: none;}
.product-pic:hover img.play-icon, .product-pic:hover span a{display: block; }
