<%= title 'Product unavailable' %>

<div class="jumbotron">
  <h2>This product could not be found or it is not available at a moment.</h2>
  <h3>Sorry for the inconvenient.</h3>
  <br>
  <br>
  <%= link_to "Go to previous page", :back, class: 'btn btn-primary btn-lg', role: 'button' %>
</div>

<br>
